{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}xxx食品有限责任公司网站{% endblock %}

{% block slide %}
                <div class="slide">
                <div id="banner-fade" style="height: 360px; max-width: 984px; position: relative;">
                <div class="bjqs-wrapper" style="width: 984px; height: 360px; overflow: hidden; position: relative;">
                    <ul class="bjqs" style="height: 360px; width: 7872px; left: -984px; display: block;">
                        <li class="bjqs-slide" style="height: 360px; width: 984px; display: list-item; float: left; position: relative;" data-clone="first" data-slide="0">
                            <img src="{% static 'img/slid-4.jpg' %}" title="xxx食品有限责任公司产品展示" style="height: 360px; width: 984px;">
                            <p class="bjqs-caption">xxx食品有限责任公司产品展示</p></li>
                        <li class="bjqs-slide" style="height: 360px; width: 984px; float: left; position: relative; display: list-item;">
                            <img src="{% static 'img/slid-1.jpg' %}" title="xxx食品有公限责任公司" style="height: 360px; width: 984px;">
                            <p class="bjqs-caption">xxx食品有公限责任公司</p></li>
                        <li class="bjqs-slide" style="height: 360px; width: 984px; float: left; position: relative; display: list-item;">
                            <img src="{% static 'img/slid-2.jpg' %}" title="xxx食品有限责任公司产品展示" style="height: 360px; width: 984px;">
                            <p class="bjqs-caption">xxx食品有限责任公司产品展示</p></li>
                        <li class="bjqs-slide" style="height: 360px; width: 984px; float: left; position: relative; display: list-item;">
                            <img src="{% static 'img/slid-3.jpg' %}" title="xxx食品有限责任公司" style="height: 360px; width: 984px;">
                            <p class="bjqs-caption">xxx食品有限责任公司</p></li>
                        <li class="bjqs-slide" style="height: 360px; width: 984px; float: left; position: relative; display: list-item;">
                            <img src="{% static 'img/slid-4.jpg' %}" title="xxx食品有限责任公司产品展示" style="height: 360px; width: 984px;">
                            <p class="bjqs-caption">xxx食品有限责任公司产品展示</p></li>
                    <li class="bjqs-slide" style="height: 360px; width: 984px; display: list-item; float: left; position: relative;" data-clone="last" data-slide="0">
                            <img src="{% static 'img/slid-1.jpg' %}" title="xxx食品有限责任公司" style="height: 360px; width: 984px;">
                            <p class="bjqs-caption">xxx食品有限责任公司</p></li></ul>

                     <ul class="bjqs-controls v-centered"><li class="bjqs-prev"><a href="http://www.lbwgs.com/#" data-direction="previous" style="top: 40.4167%;">Prev</a></li><li class="bjqs-next"><a href="http://www.lbwgs.com/#" data-direction="forward" style="top: 40.4167%;">Next</a></li></ul><ol class="bjqs-markers h-centered" style="left: 488.5px;"><li class="active-marker"><a href="http://www.lbwgs.com/#">1</a></li><li><a href="http://www.lbwgs.com/#">2</a></li><li><a href="http://www.lbwgs.com/#">3</a></li><li><a href="http://www.lbwgs.com/#">4</a></li></ol></div>

                    <script class="secret-source">
                        jQuery(document).ready(function($) {
                          $('#banner-fade').bjqs({
                            animtype      : 'slide',
                            height      : 360,
                            width       : 984,
                            responsive  : true
                          });
                        });
                    </script>
{% endblock %}

{% block main %}
    <section id="main" class="home">
        <div class="container_12">
            <div id="content">
                <div class="grid_12">
                    <span class="c-red"><a href="{% url 'product' %}" target="_blank">更多产品&gt;&gt;</a></span>
                    <h2 class="product-title">热销产品</h2>
                </div>

                <div class="clear"></div>

                <div class="products">
                   {% include 'salement.html' %}

                   <!--
            {% for pro in prolist %}  
                        <article class="grid_3 article">
                                            
                            <a href="{% url 'detail' pro.id  %}" target="_blank">
                                <div class="prev">
                                    <img src="{{ pro.img.url}}" alt="{{ pro.name }}" title="">
                                </div>
                                <h3>{{ pro.name }}</h3>
                            </a>

                        </article>
                                                {% empty %}
                            <p>没有查询到数据</p>
                        {% endfor %}
                        -->

                               
                <!--
                                                            <article class="grid_3 article">                        
                        <a href="PPPPPPPPP/2014/kuqiaocha_0712/1.html" target="_blank">
                            <div class="prev">
                                <img src="./xxx食品有限责任公司官方网站_files/20151011095003591.jpg" alt="xxx苦荞茶100g袋装" title="">
                            </div>
                            <h3>xxx苦荞茶100g袋装</h3>
                        </a>
                    </article>
                                        <article class="grid_3 article">                        
                        <a href="PPPPPPPPP/2014/kuqiaocha_0716/2.html" target="_blank">
                            <div class="prev">
                                <img src="./xxx食品有限责任公司官方网站_files/20151011044835309.jpg" alt="xxx苦荞茶100g盒装" title="">
                            </div>
                            <h3>xxx苦荞茶100g盒装</h3>
                        </a>
                    </article>
                                        <article class="grid_3 article">                        
                        <a href="PPPPPPPPP/2014/kuqiaocha_0716/3.html" target="_blank">
                            <div class="prev">
                                <img src="./xxx食品有限责任公司官方网站_files/03.jpg" alt="xxx苦荞茶125g条形装" title="">
                            </div>
                            <h3>xxx苦荞茶125g条形装</h3>
                        </a>
                    </article>
                                        <article class="grid_3 article">                        
                        <a href="PPPPPPPPP/2014/kuqiaocha_0716/4.html" target="_blank">
                            <div class="prev">
                                <img src="./xxx食品有限责任公司官方网站_files/20151011101127564.jpg" alt="xxx苦荞茶400g手提礼盒" title="">
                            </div>
                            <h3>xxx苦荞茶400g手提礼盒</h3>
                        </a>
                    </article>
                                        <article class="grid_3 article">                        
                        <a href="PPPPPPPPP/2014/kuqiaocha_0720/5.html" target="_blank">
                            <div class="prev">
                                <img src="./xxx食品有限责任公司官方网站_files/05.jpg" alt="xxx苦荞茶400g全铁礼盒" title="">
                            </div>
                            <h3>xxx苦荞茶400g全铁礼盒</h3>
                        </a>
                    </article>
                                        <article class="grid_3 article">                        
                        <a href="PPPPPPPPP/2014/kuqiaocha_0720/6.html" target="_blank">
                            <div class="prev">
                                <img src="./xxx食品有限责任公司官方网站_files/06.jpg" alt="xxx苦荞茶400g铁礼盒" title="">
                            </div>
                            <h3>xxx苦荞茶400g铁礼盒</h3>
                        </a>
                    </article>
                                        <article class="grid_3 article">                        
                        <a href="PPPPPPPPP/2014/kuqiaocha_0720/7.html" target="_blank">
                            <div class="prev">
                                <img src="./xxx食品有限责任公司官方网站_files/07.jpg" alt="xxx苦荞养生茶100g盒装" title="">
                            </div>
                            <h3>xxx苦荞养生茶100g盒装</h3>
                        </a>
                    </article>
                                        <article class="grid_3 article">                        
                        <a href="PPPPPPPPP/2014/kuqiaocha_0720/8.html" target="_blank">
                            <div class="prev">
                                <img src="./xxx食品有限责任公司官方网站_files/08.jpg" alt="xxx苦荞养颜茶100g盒装" title="">
                            </div>
                            <h3>xxx苦荞养颜茶100g盒装</h3>
                        </a>
                    </article>
                             

                             -->           
                    <div class="clear"></div>
                </div><!-- .products -->

                <div class="clear"></div>
                
            </div><!-- #content -->

            <div class="clear"></div>


            <div id="content_bottom">
                <div class="grid_6">
                    <div class="bottom_block about_as">
                        <h3><span><a href="http://www.lbwgs.com/html/aboutus/" target="_blank">查看全部</a></span><a href="http://www.lbwgs.com/html/aboutus/" target="_blank">关于我们</a></h3>
                        <p>通渭乐百味食品有限公司，成立于1997年8月，属民营股份制企业，是定西市命名的科技创新示范企业。总公司下设二个分厂、二个商贸公司。依托公司成立了定西市小杂粮工程技术研究中心。技术合作单位有省轻工研究院、甘肃农业大学、中科院化物所、西北农科院等大专院校。</p>                   
                        <p>乐百味公司是全国唯一独家专业研发生产苦荞麦系列产品的生产企业，公司从原料种子繁育--基地建设—订单农业—产品研发—加工生产进行系统化工程建设，能够充分发挥当地丰富的特色资源苦荞麦优势，并可引导苦荞麦行业的产业升级换代，打造中国苦荞第一品牌。</p>
                    </div><!-- .about_as -->
                </div><!-- .grid_6 -->

                <div class="grid_6">
                    <div class="bottom_block news">
                        <h3><span><a href="http://www.lbwgs.com/html/news/" target="_blank">查看全部</a></span><a href="http://www.lbwgs.com/html/news/" target="_blank">新闻动态</a></h3>
                                                <ul>
                                                        <li>
                                <time>2016-07-04 10:53:37</time>
                                <a href="http://www.lbwgs.com/html/2016/news_0704/76.html" class="f14" title="甘肃省科协副主席陈炳东一行来我公司检查指导工作">甘肃省科协副主席陈炳东一行来我公司检查指导工作</a>
                                <p class="c999">
                                     7月1日，甘肃省科学技术协会副主席陈炳东，省科学技术协会党组书记、副主席杨新科、甘肃省委党校工商管理教研部主任、工商......<a href="http://www.lbwgs.com/html/2016/news_0704/76.html">查看详情&gt;&gt;</a>
                                </p>
                            </li>
                                                        <li>
                                <time>2016-06-25 14:19:42</time>
                                <a href="http://www.lbwgs.com/html/2016/news_0625/75.html" class="f14" title="我公司荣登甘肃省诚信企业红榜名单">我公司荣登甘肃省诚信企业红榜名单</a>
                                <p class="c999">
                                       ...<a href="http://www.lbwgs.com/html/2016/news_0625/75.html">查看详情&gt;&gt;</a>
                                </p>
                            </li>
                                                    </ul>
                                            </div><!-- .news -->
                </div><!-- .grid_6 -->
                <div class="clear"></div>
            </div><!-- #content_bottom -->
        </div><!-- .container_12 -->
    </section><!-- #main.home -->  
{% endblock %}